@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
    --font-sans: 'Geist', sans-serif;
}

:root {
    --ui-container: 64rem;
    --color-zinc-900: oklch(18.3% 0.004 285.93);
}

.dark {
    --ui-bg: var(--color-zinc-900);
}

html {
    @apply scroll-smooth;
}
